<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website </title>
  </head>
  <body>
  <h1>will be right back</h1>
  <p>
    this site is currntly being updated.</p>
  </body>
</html>
